@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --headline: Bona Nova; 
    --paargraph: Bitter;
    --solo-text: Cormorant Garamond;


    --mia-card-bg: #EBCDB7;
    --ilias-card-bg: #D2E2EC;
}
*{
    margin: 0;
    padding: 0;
}
html, body {
    overflow-x: hidden;
    max-width: 100%;
}

body{
    background-color: #f0f0f0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.variable-box{
    margin: 0 16px;
    
}



/* --появление текста сверху------------ */
h1{
    font-family: var(--headline), bold;
    font-size: 72px;
    line-height: 60px;
    text-align: center;
    margin: 60px 0 20px 0;
    transform: translateY(-80px);
    
    opacity: 0;
    transform: translateY(-100px) scale(0.95);
    filter: blur(10px);
    
    animation: cinematicReveal 1.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}


/* --анимация появления текста */
@keyframes cinematicReveal {
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0);
    }
}

/* -------карточка Мии---------------------------------- */
.mia-card-body{
    background-color: var(--mia-card-bg);
    animation: fadeIn 2s ease forwards;
    opacity: 0;
    animation-delay: 3s;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.card-mia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    /* margin: 5px 0; */
    /* padding: 5px 0; */

    
}

.text-card-r{
    width: 30%;
    /* margin: 45px 45px 0 0; */
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: right;

    opacity: 0;
    transform: translateX(100%);
    animation: textslider-right 1.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 4.2s;
}
@keyframes textslider-right{
    to {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}

.h-m{
    font-family: var(--headline), normal;
    /* font-weight: bold; */
    text-transform: uppercase;
    font-size: 42px;
    line-height: 40px;
    /* text-align: right; */
}
.paragraph{
    font-family: var(--paargraph), normal;
    font-size: 15px;
    /* line-height: 30px; */
}
/* Левая колонка */
.gallery-mia{
    position: relative;
    width: 480px;
    height: 348px;
    overflow: hidden;
}

/* Все фото */
.i{
    position: absolute;
    width: 250px;
    height: 262px;
    object-fit: cover;
    margin-top: 55px;

    opacity: 0;
    transform: translateX(-120%);
}
.i-last{
    position: absolute;
    width: 250px;
    height: 318px;
    object-fit: cover;

    opacity: 0;
    transform: translateX(-120%);
}
.gallery-mia .i,
.gallery-mia .i-last{
    left: 0;
}

/* 1 фото */
.gallery-mia img:nth-child(1){
    animation: slidePhoto 6s ease forwards;
    animation-delay: 4s;
}

/* 2 фото */
.gallery-mia img:nth-child(2){
    animation: slidePhoto 6s ease forwards;
    animation-delay: 10s;
}

/* 3 фото */
.gallery-mia img:nth-child(3){
    animation: finalPhoto 6s ease forwards;
    animation-delay: 16s;
}

/* Первые 2 фото */
@keyframes slidePhoto {

    0%{
        opacity: 0;
        transform: translateX(-120%);
    }

    15%{
        opacity: 1;
        transform: translateX(0);
    }

    75%{
        opacity: 1;
        transform: translateX(0);
    }

    100%{
        opacity: 0;
        transform: translateX(0);
    }
}

/* Последнее фото */
@keyframes finalPhoto {

    0%{
        opacity: 0;
        transform: translateX(-120%);
    }

    20%{
        opacity: 1;
        transform: translateX(0);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
/* ----карточка-Ильяс-------------------------------------------------- */
.ilias-card-body{
    margin: 0;
    padding: 0;
    background-color: var(--ilias-card-bg);
    animation: fadeIn 1.6s ease forwards;
    opacity: 0;
    animation-delay: 20s;
}

.card-ilias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    /* margin: 5px 0; */
    /* padding: 5px 0; */

    
}

.text-card-l{
    width: 30%;
    /* margin: 45px 45px 0 0; */
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: left;

    opacity: 0;
    transform: translateX(-120px); 
    animation: textslider-left 1.6s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 21s;
}
@keyframes textslider-left{
    to {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}


.h-i{
    font-family: var(--headline), normal;
    /* font-weight: bold; */
    text-transform: uppercase;
    font-size: 38px;
    line-height: 40px;
}

/* Правая колонка */
.gallery-ilias{
    position: relative;
    width: 480px;
    height: 348px;
    /* overflow: hidden; */
}

/* Все фото */

.gallery-ilias .a{
    position: absolute;
    overflow: hidden;

    /* width: 250px;
    height: 250px; */
    width: 100%;
    height: 80%;

    object-fit: cover;

    margin-top: 55px;

    opacity: 0;
    transform: translateX(120%);
}

.gallery-ilias .a-last{
    position: absolute;

    /* width: 296px;
    height: 286px; */
    width: 107%;
    height: 100%;

    object-fit: cover;

    opacity: 0;
    transform: translateX(120%);
}
.gallery-ilias .a,
.gallery-ilias .a-last{
    right: 0;
}

/* 1 фото */
.gallery-ilias img:nth-child(1){
    animation: slidePhotoRight 6s ease forwards;
    animation-delay: 21s;
}

/* 2 фото */
.gallery-ilias img:nth-child(2){
    animation: slidePhotoRight 6s ease forwards;
    animation-delay: 27s;
}

/* 3 фото */
.gallery-ilias img:nth-child(3){
    animation: finalPhotoRight 6s ease forwards;
    animation-delay: 33s;
}

/* Первые 2 фото */

@keyframes slidePhotoRight {

    0%{
        opacity: 0;
        transform: translateX(120%);
    }

    15%{
        opacity: 1;
        transform: translateX(0);
    }

    75%{
        opacity: 1;
        transform: translateX(0);
    }

    100%{
        opacity: 0;
        transform: translateX(0);
    }
}

/* Последнее фото */

@keyframes finalPhotoRight {

    0%{
        opacity: 0;
        transform: translateX(120%);
    }

    20%{
        opacity: 1;
        transform: translateX(0);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
/* обе карточки */
.i, .i-last, .a, .a-last{
        width: 100%;
        height: auto;
        /* margin: 0 0 10% 0; */
    }
/* .h-m{
        font-size: 200%;
        line-height: 30px;
    }
    .h-i{
        font-size: 100%;
        line-height: 30px;
    }

    .paragraph{
        font-size: 80%;
    } */
/* --------------------------- */
.blue-paper{
    position: relative;

    background: #D2E2EC;
    min-height: 400px;

    overflow: visible;
    z-index: 1;
}

/* рваный край */
.blue-paper::after{
    content: "";
    opacity: 1;

    position: absolute;
    left: 0;
    bottom: -22px;

    width: 100%;
    height: 33px;

    background: url(assets/images/torn-paper.svg);
    background-size: cover;
    background-repeat: no-repeat;
    

    transform: rotate(-1deg);
}

h2{
    text-align: center;
    font-family: var(--headline);
    
}
.solo-text{
    margin: 100px 0;
    font-weight: 100;
    font-family: var(--solo-text);
    font-size: 50px;
}

.hands{
    width: 100%;
    height: auto;
    margin: 0 0 50px 0;
    position: relative;
    top: -22px;
}
.photo-frame{
    width: 100%;
    height: auto;
    margin: 50px 0 0 0;
}
/* -------приглашение-------------- */
.invitation{
    background-color: #9878638f;
    padding: 50px 20px;
    margin: 100px 0 50px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    border: 35px solid transparent;

    border-image-source: url("assets/images/ramka-uzor.svg");
    border-image-slice: 29;
    border-image-repeat: stretch;

    border-radius: 5px;
}

.invitation-text{
    font-family: Cormorant Garamond;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}

.photo-poster{
    width: 100%;
    height: auto;
    margin: 50px 0;
}

.invitation-ornament{
    position: relative;

    width: 100%;
    min-height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.ornament{
    position: absolute;

    width: 100%;
    height: 100%;

    object-fit: contain;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.invitation-text-act{
    max-width: 300px;
    position: relative;
    z-index: 2;

    font-family: Cormorant Garamond;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
    line-height: 62px;
}
/* ----детали--------- */
.details-title{ 
    font-family: var(--solo-text); 
    text-transform: capitalize; 
    font-weight: 100; 
    font-size: 65px; 
    line-height: 40px; 
    text-align: center; 
    margin: 50px 0 ; 
} 
.detail{ 
    font-family: var(--solo-text); 
    font-size: 35px; 
    line-height: 30px; 
    text-align: left; 
    display: flex; 
    flex-direction: column; 
    margin: 80px 0; 
    gap: 50px; 
}

.detail{
    list-style: none;
    padding: 0;
}

.detail li{
    position: relative;
    padding-left: 100px;
    min-height: 50px;
    display: flex;
    align-items: center;
}

.detail-date::before,
.detail-time::before,
.detail-location::before{
    content: "";

    position: absolute;
    left: 0;
    /* top: 50%; */
    top: 0;
    transform: none;

    width: 65px;
    height: 70px;

    /* transform: translateY(-50%); */

    background-size: contain;
    background-repeat: no-repeat;
}

.detail-date::before{
    background-image: url("assets/images/date-icone.svg");
}

.detail-time::before{
    background-image: url("assets/images/watch-icone.svg");
}

.detail-location::before{
    background-image: url("assets/images/place-icone.svg");
}
/* ----карта--------- */
/* ---------- Секция ---------- */

.map-section{
    padding: 40px 20px 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------- Заголовок ---------- */

.details-title-map{
    font-family: var(--paargraph);

    font-weight: 400;
    font-size: 65px;

    text-align: center;

    margin-bottom: 50px;
}

/* ---------- Кнопки ---------- */

.map-buttons{
    display: flex;
    gap: 10px;

    margin-bottom: 10px;
}

.map-btn{
    width: 150px;
    height: 45px;

    border: none;
    border-radius: 50px;

    background-color: #d4d4d4;

    font-family: var(--solo-text);
    font-size: 20px;

    cursor: pointer;

    transition: 0.3s ease;
}

.map-btn:hover{
    background-color: #c5c5c5;
}
.map-btn.active{
    background-color: #828282;
}
/* ---------- Карта ---------- */

.map-container{
    width: 350px;
    height: 230px;

    overflow: hidden;

    border-radius: 8px;

    background-color: #d4d4d4;

    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.map-container iframe{
    width: 100%;
    height: 100%;

    border: none;

    display: block;

    pointer-events: none;
}
/* ---------- Секция ---------- */

.booking-section{
    padding: 60px 20px 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------- Заголовок ---------- */

.booking-title{
    font-family: var(--paargraph);

    font-size: 65px;
    font-weight: 400;

    margin-bottom: 50px;
}

/* ---------- Форма ---------- */

.booking-form{
    width: 100%;
    max-width: 350px;

    display: flex;
    flex-direction: column;
}

/* ---------- Label ---------- */

.booking-label{
    font-family: var(--solo-text);

    font-size: 28px;

    margin-bottom: 12px;
}

/* ---------- Input ---------- */

.booking-input{
    /* width: 100%; */
    height: 55px;

    border-radius: 50px;
    border: 1px solid #000;

    background: transparent;

    padding: 0 25px;

    font-size: 22px;
    font-family: var(--solo-text);

    outline: none;

    margin-bottom: 35px;
}

/* ---------- Radio ---------- */

.radio-group{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* скрываем стандартный radio */

.radio-option input{
    display: none;
}

.radio-option{
    display: flex;
    align-items: center;
    gap: 14px;

    cursor: pointer;
}

/* кастомный radio */

.custom-radio{
    width: 38px;
    height: 38px;

    border: 1px solid #000;
    border-radius: 50%;

    position: relative;

    transition: 0.3s ease;
}

/* точка внутри */

.radio-option input:checked + .custom-radio::after{
    content: "";

    width: 18px;
    height: 18px;

    background: #000;

    border-radius: 50%;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.radio-text{
    font-family: var(--solo-text);

    font-size: 24px;
}

/* ---------- Кнопка ---------- */

.booking-btn{
    margin-top: 40px;

    height: 55px;

    border: none;
    border-radius: 50px;

    background: #d4d4d4;

    font-family: var(--solo-text);
    font-size: 22px;

    cursor: pointer;

    transition: 0.3s ease;
}

.booking-btn:hover{
    background: #c3c3c3;
}

/* ---------- Success ---------- */

.success-message{
    display: none;

    margin-top: 25px;

    text-align: center;

    font-family: var(--solo-text);
    font-size: 20px;
}
/* -------------------------------------------- */
/* ----------Адаптив------ */
/* ну на всякий */
@media (max-width: 479px) {
    .mia-card-body, .ilias-card-body{
        padding: 0 0 30px 0;
    }

    .i, .i-last, .a, .a-last{
        width: 100%;
        height: auto;
    }

    .text-card-r{
        margin-top: 70px;
    }

    .h-m{
        font-size: 240%;
        line-height: 30px;
    }
    .h-i{
        font-size: 200%;
        line-height: 30px;
    }

    .paragraph{
        font-size: 95%;
    }

    .invitation{
        padding: 85px 30px;
        border: 25px solid transparent;
        border-image-source: url("assets/images/ramka-uzor.svg");
        border-image-slice: 28;
    }

    .invitation-text-act{
        font-size: 273%;
        line-height: 62px;
    }
}


/* 📲 планшет */
@media (min-width: 480px) {
    h1{
        font-size: 500%;
        line-height: 60px;
    }

    .mia-card-body, .ilias-card-body{
        padding: 0 0 50px 0;
    }
    .gallery-mia, .gallery-ilias {
        width: 400px;
        height: 443px;
    }

    .variable-box {
        margin: 0 20px;
    }

    .i, .i-last {
        width: 100%;
        height: auto;
    }
    .a, .a-last{
        width: 100%;
        height: auto;
    }

    .text-card-r{
        margin-top: 75px;
    }
    .text-card-l,
    .text-card-r{
        gap: 35px;
    }
    .text-card-l{
        margin-top: 65px;
    }

    .h-m{
        font-size: 45px;
        line-height: 30px;
    }
    .h-i{
        font-size: 36px;
        line-height: 30px;
    }

    .paragraph{
        font-size: 15px;
    }

    .solo-text{
        margin: 150px 0;
        font-size: 60px;
    }

    .invitation{
        padding: 100px 30px;
        border: 40px solid transparent;
        border-image-source: url("assets/images/ramka-uzor.svg");
        border-image-slice: 28;
    }

    .invitation-text-act{
        font-size: 65px;
        line-height: 62px;
    }

    .detail{ 
        gap: 70px;
    }
    .detail-date::before,
    .detail-time::before,
    .detail-location::before{
        width: 80px;
        height: 57px;
    }
}



/* 💻 большие экраны */
@media (min-width: 768px) {
    .variable-box {
        margin: 0 50px;
    }
}